*.o
*.lo
*.la
*.a
*.so
*~
.*.swp
.deps
.libs
.version
.tarball-version
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
libosmo-rspro.pc
libtool
*-libtool
ltmain.sh
missing
Makefile.in
Makefile
Makefile.am.sample
tags
m4
gen_rspro.stamp

src/client/osmo-remsim-client-reader_conf
src/client/osmo-remsim-client-shell
src/client/osmo-remsim-client-st2
src/bankd/pcsc_test
src/bankd/osmo-remsim-bankd
src/server/osmo-remsim-server

contrib/deps
deps

debian/tmp
debian/osmo-remsim-*
debian/libosmo-rspro0
debian/libosmo-rspro-dev
debian/*.substvars
debian/*.debhelper.log
debian/autoreconf.*
debian/.debhelper
debian/debhelper*
debian/files

contrib/osmo-remsim.spec
