*.o
*.lo
*.la
*.a
*.so
*~
.*.swp
.deps
.libs
.version
.tarball-version
autom4te.cache
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
Makefile.in
Makefile
Makefile.am.sample
tags
m4
gen_rspro.stamp

src/pcsc_test
src/remsim-bankd
src/remsim-client
src/simtrace2-remsim-client
